In [1]:
import pandas as pd

In [2]:
election_results = "election_data.csv"
election_results_df = pd.read_csv(election_results)

In [3]:
election_results_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [43]:
print("Election Results:")
print("---------------------------")
count_row = election_results_df.shape[0]
print("Total number of votes",count_row)

print("---------------------------------")

print("Vote Totals per Candidate")


election_results_df.Candidate.str.count("Khan")
election_results_df.Candidate.str.count("O'Tooley")
election_results_df.Candidate.str.count("Correy")
election_results_df.Candidate.str.count("Li")

print("Khan:", election_results_df.Candidate.str.count("Khan").sum())
print("O'Tooley:", election_results_df.Candidate.str.count("O'Tooley").sum())
print("Correy:", election_results_df.Candidate.str.count("Correy").sum())
print("Li:", election_results_df.Candidate.str.count("Li").sum())

print("---------------------------------")

print("Election Percentages")
print("Winner: Khan")
election_results_df['Candidate'].value_counts("Khan")

Election Results:
---------------------------
Total number of votes 3521001
---------------------------------
Vote Totals per Candidate
Khan: 2218231
O'Tooley: 105630
Correy: 704200
Li: 492940
---------------------------------
Election Percentages
Winner: Khan

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64